20230405/
20*/
inputs*/
*inputs/
*inputs/
S800_surf_curvature.ipynb

.venv/
__pypackages__/

*.egg-info/
*.egg

.pdm-python
.pdm.toml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class